
.mail-preview {
 
    display: flex;
    height: 45px;
    /* justify-content: flex-start; */
    align-items: center;
    width: 100%;
}

.mail-preview.unread{
    background-color:#fdfdfd;
    width: 100%;
}

.mail-preview:hover {


    box-shadow:
        inset 1px 0 0 rgb(218, 220, 224),
        inset -1px 0 0 rgb(218, 220, 224),
        0 1px 2px 0 rgba(60, 64, 67, 0.3),
        0 1px 3px 1px rgba(60, 64, 67, 0.15);
    z-index: 2;
}

.mail-preview:hover >.box-font-after{
        opacity: 1;
}

.box-font-after{
        opacity: 0;
}

.mail-preview.unread .pre-sub,
.mail-preview.unread .pre-from,
.mail-preview.unread .pre-time {
    font-weight: var(--Bold);
}

.box-font {
    margin-right: 1em;
}

.pre-from {
    width: 6em;
    font-size: 1em;
    font-family: var(--font-mail);
    font-weight: var(--Regular);
}

.pre-body {

    color: #5F6368;
}

/* <p className="pre-from" >{name}</p>
<p className="pre-sub" >{sub}</p>
<p className="pre-body" >{txt}</p>
<p className="pre-time" >{date}</p>
</div> */