:root {
    --clr1: rgb(58, 12, 163);
    --clr2: rgb(67, 97, 238);

    --clr1bg: rgb(146, 165, 214);
    --clr1bg-light: rgb(248, 250, 255);
    --clr2bg: rgb(215, 238, 254);
    --clr2bg-light: rgb(240, 249, 255);

    --gray1: rgb(245, 245, 245);
    --gray2: rgb(160, 160, 160);
    --gray3: rgb(30, 30, 30);

    --nav-bar-aside-note: rgb(173, 216, 230);
    --pin-btn: rgb(255, 215, 0);
}
