.mail-body {
    display: flex;
    height: calc(100vh - 120px);
    overflow: hidden;
    width: 100%;
}

.mail-list {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}

.mail-sidebar {
    min-width: 3em;
    height: 100%;
}