.main-content {
    flex: 1;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  

  .top-bar {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    justify-content: center;
  }
  
  .pinned-notes,
  .other-notes {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }
  
  .pinned-notes p,
  .other-notes p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
